*.com
*.class
*.dll
*.exe
*.o
*.so
*.pptx
*.docx
*.ppt
*.pdf
*.pptx
*.xls
*.xlsx
*.mk
MAKEFILE

# logs
*.log
upload/s
logs/

# OSfiles
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#vs
*.vs
*.vscode
*.idea