<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the property file: sport.properties -->
	<context:property-placeholder location="classpath:sport.properties"/>

    <!-- Define your beans here -->
    
    <bean id="myLoggerConfig" class="springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <bean id="myFortuneService"
    	class="springdemo.HappyFortuneService" scope="singleton"></bean>
    
    <bean id="myCricketCoach" class="springdemo.CricketCoach" scope="singleton">
    	<property name="fortuneService" ref="myFortuneService"/>
    	<property name="emailAddress" value="${foo.email}"/>
    	<property name="team" value="${foo.team}"/>
    </bean>   
</beans>





